/app/Config/core.php
/lib/Cake/Console/Templates/skel/tmp/
/local/Config/database.php
/local/Config/email.php
/local/Config/security.salt
/local/Config/security.seed
/local/Plugin/GenericPlugin
/local/tmp
/plugins
/vendors
.DS_Store
tags
.idea/
comanage-registry.iml
app/webroot/auth/login/.htaccess
# modified by RCIAM config
/app/Controller/AppController.php
/app/View/Layouts/default.ctp
/app/View/Layouts/lightbox.ctp
/app/webroot/.htaccess
/app/webroot/auth/login/index.php
/app/webroot/auth/logout/index.php
/app/webroot/favicon.ico
