/* Form Progress */
.vprogress {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
}
.vprogress .bar {
    display: block;
}
.vprogress .circle{
    display: block;
    margin-bottom: 0px;
    background: #fff;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}
.vprogress .circle:focus{
    outline: 0;
}
.vprogress .bar {
    position: relative;
    width: 6px;
    height: 22px;
    top: 0px;
    margin-left: 18px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.vprogress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 4px;
    color: #b5b5ba;
    font-size: 17px;
}
.vprogress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: 45px;
    position: relative;
    top: -28px;
}

.vprogress .circle .spinner-pos {
    margin-left: -100px;
    position: relative;
    top: -60px;
}

/* Done / Active */
.vprogress .bar.done,
.vprogress .circle.done {
    background: green;
}
.vprogress .bar.failed,
.vprogress .circle.failed {
    background: red;
}
.vprogress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.vprogress .circle.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.vprogress .circle.done .title {
    color: #444;
}
.vprogress .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.vprogress .circle.active .title {
    color: #0c95be;
}